body {
  font-family: 'Times New Roman', Times, serif;
}

.title { 
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
}

.form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
}

.form-label {
  text-align: left;
  margin-top: auto;
  width: 130px;
}

.form-control {
  width: 250px;
  text-align: center;
}